/* setting generali */
:root{
    --white : rgb(255,255,255);
    --red : rgb(232,80,91);
    --black : rgb(38,50,56);
    --grey : rgb(103,111,115);
}

body{
    margin: 0;
}

.background-red{
    background-color: var(--red);
}
.background-white{
    background-color: var(--white);
}
.font-title{
    color: var(--black);
    font-family: "Josefin Sans", sans-serif;
}

.font-generic{
font-family: "Roboto", sans-serif;;
}

.font-red{
    color: var(--red);
}
.font-grey{
    color: var(--grey);
}

.nav-item{
    position: relative;
}
nav .nav-item:hover::before{
    content: "";
    width: 0px;
    height: 0px;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: zoom-circle 0,7s ease forwards;

}

@media screen and (max-width:600px) {
    .nav-item:hover::before{
        display: none;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 0, 0, 0.5);
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%,-50%);
    }
        .header-title{
            letter-spacing: 0px;
            word-spacing: 0px;
        
    }
    .header-row{
        width: 100%;
    }
}

.header-custom{
    min-height: calc(100vh - 95px);
    margin-top: 95px;
}
.header-img{
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translatey(-50%);
    z-index: -1;
}

.header-title{
    letter-spacing: -8px;
    word-spacing: 5px;
}

.header-row{
    width: 75%;

}

.shadow-hover{
    transition: 0.5s;
}
.shadow-hover:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.171);
}

.about-us-description{

    border-left: 2px solid white;
    border-right: 2px solid white;
}

.star{
    position: relative;
}

.star::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: -10px;
}

.background-bluenavy{
    background-color: #263238;
}

footer button p{
    font-size: 10px;
}

@keyframes zoom-circle {
    from{
        width: 0px;
        height: 0px;
    }to{
        width: 40px;
        height: 40px;
    }
}